extends templates/master.pug

block head-scripts
    script(type='text/javascript' src='js/Chart.min.js')
    script(type='text/javascript' src='js/fuse.min.js')

block content
    #island-wrapper
        canvas#graph
        #search-container
            h2#search-instruct
                | Start
                |
                strong searching
                |
                | career options
            form#search
                input(type='text' name='search' id='search-input' placeholder='Type keywords here')
        script(type='text/javascript' src='js/main.js')
