doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet' href='css/main.css')
        script(type='text/javascript' src='js/svg.min.js')
        script(type='text/javascript' src='js/svg.draggable.min.js')
        script(type='text/javascript' src='js/interact.min.js')
    body
        header
        #content-wrapper
            #content
                #overlay
                #canvas
                script(type='text/javascript' src='js/main.js')
