doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet' href='css/main.css')
        script(type='text/javascript' src='js/lib/svg.min.js')
        script(type='text/javascript' src='js/lib/svg.draggable.min.js')
        script(type='text/javascript' src='js/lib/taffy-min.js')
        script(type='text/javascript' src='js/data/groups.js')
        script(type='text/javascript' src='js/data/occupations.js')
        block head-scripts
    body
        header
        #wrapper
            #content
                block content
        footer
