$blueColor: #1f6de3;
$darkerBlue: #2951c5;

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: $blueColor;
}

#content-wrapper, #content, #overlay, #canvas {
    height: 100%;
    margin: auto;
}

#overlay {
    position: absolute;

    .label {
        width: 150px;

        background: black;
        color: $blueColor;
        opacity: 0.75;

        font-family: 'Seravek', sans-serif;
        font-size: 13px;

        padding: 4px 7px;

        position: absolute;
        pointer-events: none;
    }
}

.draggable {
    cursor: move;
}

#start-hub {
    fill: $darkerBlue;
}

.path {
    stroke: $darkerBlue;
    stroke-width: 6;
}
